@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap");
.shadow-gral, .shadow-black, .shadow-secondary {
  font-family: "Poppins", sans-serif;
  text-shadow: 0em 0.1em #dad8d8;
}

.shadow-secondary {
  text-shadow: 0em 0.2em #f5ebeb;
}

.shadow-black {
  text-shadow: 0em 0.1em #111111;
}

/*estilo de la navbar*/
/*logo de la navbar*/
.navbarLogo {
  width: 100px;
  height: 70px;
}

/*fuente de la navbar*/
.navbarFuente {
  font-family: "Poppins", sans-serif;
  text-shadow: 0em 0.1em #dad8d8;
  font-weight: 600;
  font-size: 20px;
}

/*PAGINA INDEX*/
/*texto principal de todas las paginas.*/
.textoPrincipal {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(237, 237, 237);
  font-weight: 600;
  font-size: large;
  width: 100%;
}

/*Imagen principal en todas las paginas.*/
.imagenPrincipal {
  max-width: 100%;
}

/*fuente de la parte de calzado destacado*/
.fuenteCalzadoDest {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  color: rgb(237, 237, 237);
}

/*color del texto de carrousel*/
.colorTextCarrousel {
  color: rgb(255, 255, 255);
}

.colorNike {
  color: #ffffff;
}

/*estilo de las cartas pag indx*/
.cardStyle {
  font-family: "Poppins", sans-serif;
  text-shadow: 0em 0.1em #dad8d8;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/*borde de todas las imagenes con zapatillas en index y en pagina sneakers*/
.borderColor {
  border: groove 5px rgb(35, 35, 112);
}

/*estilo de la fuente de "contacto en pagina index"*/
.contactoStyle {
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/*sneakers destacados en la pagina index*/
.nuestrosSneakers {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  align-items: center;
  color: rgb(0, 0, 0);
}

/*seccion quienes somos en la pagina index*/
.altoNosotros {
  width: 350px;
}

.quienesSomos {
  margin-top: 50px;
  text-align: center;
}

/*Paginas Locales*/
#baukerCapital {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0em 0.1em #dad8d8;
}

.dudaContacto {
  font-size: 20px;
}

/*Borde de las pagina "contacto"*/
.borderColor2 {
  border: solid 5px rgb(42, 42, 175);
  border-radius: 4px;
}

.sneakersPage {
  margin-bottom: 0%;
  margin-top: 20px;
  display: grid;
  grid-template-areas: "snk1 snk2 snk3" "snk4 snk5 snk6" "snk7 snk8 snk9";
}

@media (max-width: 576px) and (min-width: 200px) {
  .sneakersPage {
    grid-template-areas: "snk1" "snk2" "snk3" "snk4" "snk5" "snk6" "snk7" "snk8" "snk9";
  }
  .card-img-top {
    width: 300px;
    height: 300px;
  }
}
/*Pagina "Nosotros"*/
.colorQuienes {
  color: rgb(95, 30, 157);
  font-weight: 600;
  text-shadow: 0em 0.1em #dad8d8;
}

.nosotrosAbout {
  text-shadow: 0em 0.1em #dad8d8;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*medias queries para las paginas*/
/* columna para celulares */
breakpoint {
  max-width: 100%;
  display: inline-block;
}

/* columnas para tablets */
@media (min-width: 420px) {
  breakpoint {
    max-width: 48%;
  }
}
/* columnas para pantallas mas grandes*/
@media (min-width: 760px) {
  breakpoint {
    max-width: 24%;
  }
}
.snk1 {
  grid-area: snk1;
}

.snk2 {
  grid-area: snk2;
}

.snk3 {
  grid-area: snk3;
}

.snk4 {
  grid-area: snk4;
}

.snk5 {
  grid-area: snk5;
}

.snk6 {
  grid-area: snk6;
}

.snk7 {
  grid-area: snk7;
}

.snk8 {
  grid-area: snk8;
}

.snk9 {
  grid-area: snk9;
}

/*# sourceMappingURL=main.css.map */
