//commons

/*PAGINA INDEX*/
/*texto principal de todas las paginas.*/

.textoPrincipal{
    text-align: center;
    background-color: $black;
    color: $white;
    font-weight: $fontBold;
    font-size: large;
    width: 100%;
}

/*Imagen principal en todas las paginas.*/

.imagenPrincipal {
    max-width: 100%;
}

/*fuente de la parte de calzado destacado*/

.fuenteCalzadoDest{
    font-size: 50px;
    text-align: center;
    font-weight: $fontBold;
    color: $white;
}

/*color del texto de carrousel*/

.colorTextCarrousel{
    color: $whiteCarrousel;
}

.colorNike{
    color: $colorNike;
}

/*estilo de las cartas pag indx*/

.cardStyle{
    font-family: $fontPrincipal;
    text-shadow: 0em 0.1em #dad8d8;
    font-weight: $fontBold;
    color: $black;
}

/*borde de todas las imagenes con zapatillas en index y en pagina sneakers*/

.borderColor{
    border: groove 5px rgb(35, 35, 112);
}

/*estilo de la fuente de "contacto en pagina index"*/

.contactoStyle{
    font-weight: $fontBold;
    color: $black;
}

/*sneakers destacados en la pagina index*/

.nuestrosSneakers{
    font-weight: $fontBold;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    color: $black;
}

/*seccion quienes somos en la pagina index*/

.altoNosotros{
    width: 350px;
}

.quienesSomos{
    margin-top: 50px;
    text-align: center;
}

/*Paginas Locales*/

#baukerCapital {
    margin-top: 20px;
    font-size: 40px;
    font-weight: $fontBold;
    text-shadow: 0em 0.1em #dad8d8;
}