//mediasqueries


/*medias queries para las paginas*/
/* columna para celulares */
breakpoint {
    max-width: 100%;
    display: inline-block;
  }
  
  /* columnas para tablets */
  @media (min-width: 420px) {
    breakpoint {
      max-width: 48%;
    }
  }
  
  /* columnas para pantallas mas grandes*/
  @media (min-width: 760px) {
    breakpoint {
      max-width: 24%;
    }
  }

  .snk1{
    grid-area: snk1;
  }
  .snk2{
    grid-area: snk2;
  }
  .snk3{
    grid-area: snk3;
  }
  .snk4{
    grid-area: snk4;
  }
  .snk5{
    grid-area: snk5;
  }
  .snk6{
    grid-area: snk6;
  }
  .snk7{
    grid-area: snk7;
  }
  .snk8{
    grid-area: snk8;
  }
  .snk9{
    grid-area: snk9;
  }