//variables 

//fonts 
$fontPrincipal:"Poppins", sans-serif;
$fontSecundaria: "Bricolage Grotesque", sans-serif;

//font weigth
$fontBold: 600;
$fontRegular: 400;
$fontLight: 200;

// colores
$white: rgb(237, 237, 237);
$whiteCarrousel: rgb(255, 255, 255);
$colorNike: #ffffff;
$black: rgb(0, 0, 0);
$colorQuienes: rgb(21, 17, 24);
$colorSnk: rgb(24, 23, 23);
$colorButton:rgb(41, 13, 54);
$colorHover:rgb(94, 11, 128);