//nosotros 

/*Pagina "Nosotros"*/

.colorQuienes{
    color: $colorQuienes;
    font-weight: $fontBold;
    text-shadow: 0em 0.1em #dad8d8;
}

.nosotrosAbout{
    text-shadow: 0em 0.1em #dad8d8;
    margin-top: 10px;
    margin-bottom: 30px;
}